.footer {
  overflow: hidden;
  background: #043873;
  padding: 140px 0;
}
.footer__logo {
  width: 191px;
}
.footer__top {
  display: flex;
  padding-bottom: 100px;
  gap: 100px;
}
@media (max-width: 1152px) {
  .footer__top {
    flex-wrap: wrap;
    gap: 46px;
  }
}
@media (max-width: 768px) {
  .footer__top {
    flex-direction: column;
  }
}
@media (max-width: 320px) {
  .footer__top {
    text-align: center;
  }
}
.footer__text {
  max-width: 240px;
  color: #F7F7EE;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
@media (max-width: 768px) {
  .footer__text {
    max-width: 100%;
  }
}
.footer__menu {
  display: flex;
  gap: 100px;
}
@media (max-width: 1152px) {
  .footer__menu {
    gap: 36px;
  }
}
@media (max-width: 768px) {
  .footer__menu {
    flex-direction: column;
  }
}
@media (max-width: 320px) {
  .footer__menu {
    text-align: center;
  }
}
.footer__nav {
  display: flex;
  flex-direction: column;
}
.footer__title {
  max-width: 83px;
  margin: 0;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.36px;
}
@media (max-width: 320px) {
  .footer__title {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__link {
  margin-top: 15px;
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
}
.footer__link:hover {
  color: #ffe492;
}
.footer__action {
  max-width: 259px;
  margin-left: auto;
}
@media (max-width: 768px) {
  .footer__action {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}
@media (max-width: 320px) {
  .footer__action {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__titles {
  margin: 0;
  max-width: 155px;
  color: #FFF;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.56px;
}
.footer__subtext {
  max-width: 244px;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
}
@media (max-width: 768px) {
  .footer__subtext {
    max-width: 174px;
  }
}
.footer__button {
  width: 186px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  gap: 10px;
  background: #4F9CF9;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid #4F9CF9;
}
.footer__button:hover {
  background: transparent;
  color: #4F9CF9;
}
.footer__button:hover path {
  stroke: #4F9CF9;
}

.copy {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #2E5B8A;
  padding: 32px 0;
}
@media (max-width: 768px) {
  .copy {
    flex-wrap: wrap;
  }
}
@media (max-width: 320px) {
  .copy {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.copy__list {
  display: flex;
  gap: 60px;
}
@media (max-width: 768px) {
  .copy__list {
    gap: 50px;
  }
}
@media (max-width: 320px) {
  .copy__list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.copy__link {
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
}
.copy__rem {
  display: flex;
  gap: 40px;
  align-items: center;
}
.copy__select {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
  background: transparent;
  border: none;
}
.copy__logo {
  color: #FFF;
  display: flex;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
  text-decoration: none;
}

/*# sourceMappingURL=footer.css.map */
