@charset "UTF-8";
body {
  margin: 0;
}
body * {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1480px;
  padding: 0 20px;
}
@media (max-width: 1400px) {
  .container {
    padding: 0 50px;
  }
}
@media (max-width: 1152px) {
  .container {
    padding: 0 32px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 92px;
  z-index: 1000;
  background: #043873;
}
@media (max-width: 768px) {
  .header {
    height: 66px;
  }
}
.header__logo {
  display: flex;
  text-decoration: none;
  color: #FFF;
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
}
.header__container {
  display: flex;
  align-items: center;
  padding-top: 35px;
}
.header__menu {
  display: flex;
  gap: 32px;
  margin-left: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (max-width: 1150px) {
  .header__menu {
    display: none;
  }
}
.header__burger {
  display: none;
  width: 42px;
  height: 36px;
  margin-left: 20px;
  background: transparent;
  border: none;
}
@media (max-width: 1150px) {
  .header__burger {
    display: block;
  }
}
@media (max-width: 768px) {
  .header__burger {
    margin-left: auto;
  }
}
.header__burger span {
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  margin-bottom: 6px;
}
.header__link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  border: none;
  background: transparent;
}
.header__button {
  flex: 0 0 auto;
  margin-left: 19px;
  padding: 16px 40px;
  border-radius: 8px;
  color: #043873;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
  background: #FFE492;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
}
.header__button:hover {
  background: #e2c879;
}
@media (max-width: 1350px) {
  .header__button {
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  .header__button {
    display: none;
  }
}
.header__login-btn {
  margin-left: 24px;
  padding: 15px 23px;
  border-radius: 8px;
  background: #4F9CF9;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
  cursor: pointer;
  transition: all 0.3s;
  flex: 0 0 auto;
  border: 1px solid #4F9CF9;
}
.header__login-btn:hover {
  background: transparent;
  color: #4F9CF9;
}
.header__login-btn:hover svg path {
  stroke: #4F9CF9;
}
.header__login-btn svg {
  margin-left: 15px;
}
@media (max-width: 768px) {
  .header__login-btn {
    display: none;
  }
}

.hero {
  overflow: hidden;
  background: #043873;
  background-image: url(../images/hero/Element.svg);
  background-size: cover;
  padding-top: 140px;
}
.hero__elem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 768px) {
  .hero__elem {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
  }
}
.hero__rem {
  max-width: 656px;
}
@media (max-width: 1152px) {
  .hero__rem {
    max-width: 565px;
    flex: 1;
  }
}
@media (max-width: 768px) {
  .hero__rem {
    max-width: 728px;
  }
}
.hero__title {
  max-width: 652px;
  color: #FFF;
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;
  margin-bottom: 24px;
  margin-top: 0;
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 54px;
    letter-spacing: -1.08px;
  }
}
@media (max-width: 320px) {
  .hero__title {
    font-size: 36px;
    letter-spacing: -0.72px;
  }
}
.hero__text {
  margin-top: 0;
  max-width: 656px;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
@media (max-width: 768px) {
  .hero__text {
    max-width: 728px;
  }
}
.hero__square {
  margin: 120px 0;
  flex: 1;
  max-width: 824px;
  height: 545px;
  background: #C4DEFD;
}
@media (max-width: 1400px) {
  .hero__square {
    max-width: 685px;
    height: 456px;
  }
}
@media (max-width: 1152px) {
  .hero__square {
    max-width: 526px;
    height: 350px;
  }
}
@media (max-width: 768px) {
  .hero__square {
    flex: 0 0 auto;
    width: 100%;
    height: 367px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
.hero__button {
  margin-top: 60px;
  margin-bottom: 0;
  padding: 20px;
  border-radius: 8px;
  background: #4F9CF9;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
  transition: all 0.3s;
  cursor: pointer;
  border: 1px solid #5480b6;
}
.hero__button:hover {
  background-color: transparent;
  color: #4F9CF9;
}
.hero__button:hover svg path {
  stroke: #4F9CF9;
}
.hero__button svg {
  margin-left: 10px;
}

.project {
  overflow: hidden;
  padding-top: 140px;
}
.project__top {
  position: relative;
  display: flex;
  align-items: center;
  gap: 60px;
}
@media (max-width: 768px) {
  .project__top {
    flex-direction: column;
  }
}
.project__content {
  max-width: 672px;
}
@media (max-width: 1400px) {
  .project__content {
    max-width: 617px;
  }
}
@media (max-width: 1152px) {
  .project__content {
    max-width: 528px;
  }
}
@media (max-width: 768px) {
  .project__content {
    max-width: 728px;
    text-align: center;
  }
}
.project__title {
  max-width: 672px;
  color: #212529;
  font-size: 72px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  margin-bottom: 24px;
  margin-top: 0;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .project__title {
    max-width: 728px;
    font-size: 54px;
    letter-spacing: -1.08px;
  }
  .project__title br {
    display: none;
  }
}
.project__title span {
  position: relative;
  display: inline-block;
}
.project__title span svg {
  position: absolute;
  left: 0;
  bottom: -18px;
}
@media (max-width: 1152px) {
  .project__title span svg {
    left: 184px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .project__title span svg {
    left: 0;
    width: 500px;
  }
}
.project__text {
  max-width: 672px;
  margin-top: 24px;
  margin-bottom: 0;
  color: #212529;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
@media (max-width: 1152px) {
  .project__text {
    max-width: 436px;
  }
}
@media (max-width: 768px) {
  .project__text {
    max-width: 728px;
  }
}
.project__square {
  padding-top: 140px;
  flex: 1 1 748px;
  max-width: 748px;
  height: 547px;
  background: #C4DEFD;
}
@media (max-width: 1400px) {
  .project__square {
    max-width: 719px;
    height: 448px;
  }
}
@media (max-width: 1150px) {
  .project__square {
    max-width: 560px;
    height: 384px;
  }
}
@media (max-width: 768px) {
  .project__square {
    width: 100%;
    height: 349px;
  }
}
.project__button {
  margin-top: 60px;
  padding: 20px 40px;
  border-radius: 6px;
  background: #4F9CF9;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
  transition: all 0.3s;
  border: 1px solid #4F9CF9;
  cursor: pointer;
}
.project__button:hover {
  background: transparent;
  color: #4F9CF9;
}
.project__button:hover path {
  stroke: #4F9CF9;
}
.project__button__btr {
  margin-left: 10px;
}
.project__bt {
  position: absolute;
  top: 150px;
  left: -140px;
  pointer-events: none;
}
@media (max-width: 768px) {
  .project__bt {
    top: -55px;
    left: -194px;
  }
}
.project__work {
  padding-top: 100px;
}
.project__work-img {
  flex: 0 1 50%;
  max-width: 710px;
  width: 100px;
  margin-bottom: 140px;
}
@media (max-width: 1400px) {
  .project__work-img {
    max-width: 583px;
  }
}
@media (max-width: 1150px) {
  .project__work-img {
    max-width: 528px;
  }
}
@media (max-width: 750px) {
  .project__work-img {
    max-width: 458px;
  }
}
.project__link {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
@media (max-width: 1400px) {
  .project__link {
    gap: 160px;
  }
}
@media (max-width: 768px) {
  .project__link {
    flex-direction: column-reverse;
  }
}
.project__work-content {
  max-width: 670px;
}
@media (max-width: 768px) {
  .project__work-content {
    max-width: 728px;
    text-align: center;
  }
}
.project__work-title {
  max-width: 670px;
  color: #212529;
  font-size: 72px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .project__work-title {
    max-width: 728px;
    font-size: 54px;
    letter-spacing: -1.08px;
  }
}
.project__work-title span {
  position: relative;
}
.project__work-title span svg {
  position: absolute;
  left: 0;
  bottom: -8px;
}
.project__work-text {
  width: 670px;
  color: #212529;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-bottom: 60px;
}
@media (max-width: 1400px) {
  .project__work-text {
    width: 593px;
  }
}
@media (max-width: 1150px) {
  .project__work-text {
    width: 527px;
  }
}
@media (max-width: 768px) {
  .project__work-text {
    max-width: 728px;
    letter-spacing: -0.36px;
  }
}
.project__work-button {
  margin-bottom: 183px;
  padding: 20px 40px;
  border-radius: 8px;
  background: #4F9CF9;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
  transition: all 0.3s;
  border: 1px solid #4F9CF9;
  cursor: pointer;
}
.project__work-button:hover {
  background-color: transparent;
  color: #4F9CF9;
}
.project__work-button:hover path {
  stroke: #4F9CF9;
}
.project__work-button svg {
  margin-left: 10px;
}

.extension {
  background-image: url("../images/extension/Customise it to your needs.png");
  min-height: 759px;
  overflow: hidden;
}
.extension__row {
  display: flex;
  align-items: center;
  gap: 98px;
}
.extension__content {
  max-width: 670px;
  flex-shrink: 1;
}
@media (max-width: 1400px) {
  .extension__content {
    max-width: 552px;
  }
}
.extension__title {
  margin-bottom: 24px;
  color: #FFF;
  font-size: 72px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
}
.extension__title span {
  position: relative;
}
.extension__title span svg {
  position: absolute;
  left: 0;
  bottom: -8px;
  max-width: 500px;
}
.extension__text {
  margin-bottom: 50px;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
.extension__button {
  padding: 20px 40px;
  border-radius: 6px;
  background: #4F9CF9;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
  transition: all 0.3s;
  border: 1px solid #4F9CF9;
  cursor: pointer;
}
.extension__button:hover {
  background-color: transparent;
}
.extension__button:hover path {
  stroke: #4F9CF9;
}
.extension__button svg {
  margin-left: 10px;
}
.extension__square {
  margin-bottom: 140px;
  width: 685px;
  height: 479px;
  background: #C4DEFD;
  margin-top: 140px;
}

.needs {
  padding-top: 140px;
  overflow: hidden;
}
.needs__man {
  display: flex;
  align-items: center;
  gap: 93px;
}
.needs__item {
  max-width: 669px;
  flex-shrink: 1;
}
.needs__title {
  margin-bottom: 24px;
  color: #212529;
  font-size: 72px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
}
.needs__title span {
  position: relative;
}
.needs__title span svg {
  position: absolute;
  left: 0;
  bottom: -9px;
  max-width: 540px;
}
.needs__text {
  max-width: 666px;
  margin-bottom: 60px;
  color: #212529;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
.needs__button {
  padding: 20px 40px;
  border-radius: 8px;
  background: #4F9CF9;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
  border: 1px solid #4F9CF9;
  transition: all 0.3s;
  cursor: pointer;
}
.needs__button:hover {
  background: transparent;
  color: #4F9CF9;
}
.needs__button:hover path {
  stroke: #4F9CF9;
}
.needs__button svg {
  margin-left: 10px;
}
.needs__square {
  margin-top: 140px;
  flex-shrink: 0;
  width: 714px;
  height: 532px;
  background: #C4DEFD;
}

.YourPlan {
  overflow: hidden;
  padding-top: 140px;
}
.YourPlan__title {
  max-width: 1481px;
  text-align: center;
  color: #212529;
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
}
.YourPlan__title span {
  position: relative;
}
.YourPlan__title span svg {
  position: absolute;
  left: 0;
  bottom: -21px;
}
.YourPlan__text {
  margin: 0 auto;
  max-width: 979px;
  color: #212529;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
.YourPlan__grid {
  padding: 123px 0 0;
  display: flex;
  align-items: center;
  gap: 32px;
}
.YourPlan__list {
  width: calc((100% - 64px) / 3);
  list-style: none;
  background: #fff;
  border: 1px solid #FFE492;
  border-radius: 10px;
  padding: 40px 44px;
}
.YourPlan__name {
  color: #212529;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.YourPlan__price {
  color: #212529;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.72px;
}
.YourPlan__subtitle {
  margin-top: 25px;
  color: #212529;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
}
.YourPlan__descr {
  position: relative;
  max-width: 347px;
  color: #212529;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
  margin-left: 31px;
}
.YourPlan__descr::before {
  content: "✓";
  display: flex;
  justify-content: center;
  position: absolute;
  left: -41px;
  width: 18px;
  height: 18px;
  border: 2px solid #212529;
  border-radius: 50%;
}
.YourPlan__button {
  border: 1px solid #FFE492;
  background: #FFF;
  margin-bottom: 104px;
  margin-top: 24px;
  border-radius: 8px;
  padding: 16px 40px;
  color: #212529;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
  cursor: pointer;
  transition: all 0.3s;
}
.YourPlan__button:hover {
  background: #f5f5f5;
  color: #212529;
}
.YourPlan__list-personal {
  max-width: 473px;
  width: calc((100% - 64px) / 3);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  background: #043873;
  list-style: none;
  padding: 80px 44px;
}
.YourPlan__second {
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.YourPlan__pricep {
  color: #FFE492;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.72px;
}
.YourPlan__heading {
  margin-top: 25px;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
}
.YourPlan__info {
  max-width: 347px;
  position: relative;
  margin-left: 31px;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
}
.YourPlan__info::before {
  content: "✓";
  display: flex;
  justify-content: center;
  position: absolute;
  left: -41px;
  width: 18px;
  border: 2px solid #ffe492;
  border-radius: 50%;
}
.YourPlan__btn {
  padding: 16px 40px;
  align-items: center;
  border-radius: 8px;
  background: #4F9CF9;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
  border: 1px solid #4F9CF9;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 41px;
}
.YourPlan__btn:hover {
  background: transparent;
}

.work {
  position: relative;
  overflow: hidden;
  background: #043873;
  padding-top: 140px;
  margin-top: 140px;
}
.work__br {
  position: absolute;
  left: 0;
  top: -10px;
}
.work__title {
  color: #FFF;
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  margin-bottom: 24px;
}
.work__title span {
  position: relative;
}
.work__title span svg {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 312px;
}
.work__text {
  margin: 0 auto;
  text-align: center;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  max-width: 1064px;
}
.work__button {
  padding: 20px 40px;
  border-radius: 8px;
  background: #4F9CF9;
  display: block;
  margin: 64px auto 140px;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid #4F9CF9;
}
.work__button svg {
  margin-left: 10px;
}
.work__button:hover {
  background: transparent;
}
.work__button:hover path {
  stroke: #4F9CF9;
}

.data {
  overflow: hidden;
  padding-top: 168px;
}
.data__container {
  display: flex;
  justify-content: space-between;
}
.data__content {
  min-width: 780px;
}
.data__title {
  color: #212529;
  font-size: 72px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
}
.data__title span {
  position: relative;
}
.data__title span svg {
  position: absolute;
  left: 0;
  bottom: -18px;
}
.data__text {
  width: 800px;
  color: #212529;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-top: 24px;
}
.data__img {
  max-width: 681px;
}
.data__button {
  padding: 20px 40px;
  border-radius: 8px;
  background: #4F9CF9;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid #4F9CF9;
  margin-top: 60px;
}
.data__button svg {
  margin-left: 10px;
}
.data__button:hover {
  background: transparent;
  color: #4F9CF9;
}
.data__button:hover path {
  stroke: #4F9CF9;
}

.sponsors {
  overflow: hidden;
  padding-top: 140px;
}
.sponsors__conteht {
  display: flex;
  justify-content: space-between;
}
.sponsors__title {
  color: #212529;
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: -1.44px;
}
.sponsors__title span {
  position: relative;
}
.sponsors__title span svg {
  position: absolute;
  left: 0;
  bottom: -17px;
}

.using {
  overflow: hidden;
  background: #043873;
  background-image: url(../images/apps/Element.svg);
  padding-top: 140px;
}
.using__container {
  display: flex;
  gap: 100px;
}
.using__infa {
  max-width: 798px;
}
.using__title {
  color: #FFF;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: -1.44px;
}
.using__text {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-top: 24px;
}
.using__img {
  max-width: 582px;
  margin-bottom: 140px;
}
.using__button {
  padding: 20px 40px;
  border-radius: 8px;
  background: #4F9CF9;
  margin-top: 60px;
  margin-bottom: 141px;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
  transition: all 0.3s;
  cursor: pointer;
  border: 1px solid #4F9CF9;
}
.using__button:hover {
  background: transparent;
}
.using__button:hover path {
  stroke: #4F9CF9;
}
.using__button svg {
  margin-left: 10px;
}

.says {
  overflow: hidden;
  padding-top: 140px;
}
.says__title {
  color: #212529;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  line-height: 84px;
}
.says__title span {
  position: relative;
}
.says__title span svg {
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
}
.says__grid {
  display: flex;
  gap: 32px;
  padding: 0;
  margin-bottom: 140px;
  list-style: none;
}
.says__list {
  max-width: 471px;
  width: calc((100% - 64px) / 3);
  background: #fff;
  border-radius: 10px;
  box-shadow: 15px 10px 50px 0 rgba(0, 0, 0, 0.1);
  padding: 60px 40px;
}
.says__text {
  width: 392px;
  color: #212529;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
.says__border {
  border: 1px solid #212529;
}
.says__comint {
  max-width: 383px;
  display: flex;
}
.says__comint svg {
  margin-top: 60px;
}
.says__com {
  margin-left: 42px;
  margin-top: 60px;
  color: #212529;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.says__texter {
  color: #212529;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
  margin-left: 42px;
}
.says__listeri {
  max-width: 471px;
  width: calc((100% - 64px) / 3);
  background: #4F9CF9;
  border-radius: 10px;
  padding: 60px 40px;
}
.says__description {
  width: 392px;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
.says__border-bottom {
  border: 1px solid #FFF;
}
.says__texteri {
  max-width: 391px;
  color: #fff;
  margin-left: 42px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
}

.today {
  overflow: hidden;
  background: #043873;
  padding-top: 140px;
}
.today__title {
  color: #FFF;
  width: 608px;
  margin: 0 auto;
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: -1.44px;
}
.today__text {
  margin: 24px auto 0;
  text-align: center;
  color: #FFF;
  width: 550px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.48px;
}
.today__button {
  padding: 20px 40px;
  border-radius: 10px;
  background: #4F9CF9;
  border: 1px solid #4F9CF9;
  cursor: pointer;
  transition: all 0.3s;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
  display: block;
  margin: 24px auto 0;
}
.today__button svg {
  margin-left: 10px;
}
.today__button:hover {
  background: transparent;
}
.today__button:hover path {
  stroke: #4F9CF9;
}
.today__subtitle {
  color: #FFF;
  margin-top: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.48px;
}
.today__contant {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-top: 40px;
}

.footer {
  overflow: hidden;
  background: #043873;
  padding-top: 140px;
}
.footer__logo {
  width: 191px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}
.footer__text {
  width: 240px;
  color: #F7F7EE;
  margin-top: 15px;
  width: 240px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__menu {
  display: flex;
  gap: 100px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__title {
  width: 83px;
  margin: 0;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.36px;
}
.footer__link {
  margin-top: 15px;
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
}
.footer__link:hover {
  color: #ffe492;
}
.footer__actiov {
  max-width: 259px;
  margin-left: auto;
}
.footer__titles {
  margin: 0;
  width: 155px;
  color: #FFF;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.56px;
}
.footer__sabtext {
  width: 259px;
  text-wrap: balance;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
}
.footer__button {
  max-width: 186px;
  padding: 20px 40px;
  border-radius: 8px;
  background: #4F9CF9;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid #4F9CF9;
}
.footer__button svg {
  margin-left: 10px;
}
.footer__button:hover {
  background: transparent;
}
.footer__button:hover path {
  stroke: #4F9CF9;
}

.copy {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  border-top: 1px solid #2E5B8A;
  padding-top: 32px;
}
.copy__list {
  display: flex;
  gap: 60px;
  list-style: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
  margin: 0;
  padding: 0;
}
.copy__rem {
  display: flex;
  gap: 32px;
}
.copy__select {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
  background: transparent;
  border: none;
}
.copy_logo {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
