@use "variables" as *;

.data {
     overflow: hidden;
     padding: 140px 0;

    &__flex {
         display: flex;
         align-items: center;

         @media (max-width:768px) {
             flex-direction: column-reverse;
             gap: 100px;
         }
     }

    &__content {
         max-width: 800px;
         padding-right: 17px;
         box-sizing: border-box;

         @media (max-width:1440px) {
             max-width: 655px;
         }

         @media (max-width:1152px) {
             max-width: 526px;
         }

         @media (max-width:768px) {
             max-width: 728px;
             padding-right: 0;
             text-align: center;
         }

     }

    &__title {
         margin-top: 0;
         max-width: 800px;
         color: #212529;
         font-size: 72px;
         font-weight: 700;
         line-height: normal;
         letter-spacing: -1.44px;

         @media (max-width:1152px) {
             font-size: 64px;
             letter-spacing: -1.28px;
         }

         @media (max-width:768px) {
             font-size: 54px;
         }

         @media (max-width:320px) {
             font-size: 36px;
         }

         span {
             position: relative;
             z-index: 1;

             svg {
                 position: absolute;
                 z-index: -1;
                 left: 0;
                 bottom: -18px;

                 @media (max-width:320px) {
                     max-width: 150px;
                 }

             }

         }
     }

    &__text {
         color: #212529;
         font-size: 18px;
         font-weight: 400;
         line-height: 30px;
         letter-spacing: -0.36px;
         margin-top: 0;

         @media (max-width: 768px) {
             max-width: 708px;
         }

     }

    &__img {
         width: 50%;
         max-width: 681px;

         @media (max-width:1152px) {
             max-width: 562px;
         }

          @media (max-width:768px) {
             width: 100%;
             max-width: 513px;
         }

     }

    &__button {
         width: 197px;
         height: 63px;
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 10px;
         border-radius: 8px;
         background: $button_color;
         color: #FFF;
         font-size: 18px;
         font-weight: 500;
         line-height: 23px;
         cursor: pointer;
         transition: all 0.3s;
         border: 1px solid $button_color;
         margin-top: 60px;

         @media (max-width: 768px) {
             margin-left: auto;
             margin-right: auto;
         }

        &:hover {
             background: transparent;
             color: $button_color;

             path {
                 stroke: $button_color;
             }
         }

     }
 }