.extension {
    background-image: url("../images/extension/Customise it to your needs.png");
    min-height: 759px;
    overflow: hidden;
    padding: 140px 0;

    @media (max-width:768px) {
        padding: 50px 0;
    }

    @media (max-width:320px) {
        padding: 40px 0;
    }

    &__row {
        display: flex;
        align-items: center;

        @media (max-width:768px) {
            flex-direction: column;
            gap: 60px;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: 795px;
        padding-right: 98px; 
        box-sizing: border-box;

        @media (max-width:1152px) {
            max-width: 100%;
           padding-right: 30px;
        }

        @media (max-width:768px) {
            padding-right: 0;
            text-align: center;
        }
    }

    &__title {
        max-width: 697px;
        margin-top: 0;
        margin-bottom: 24px;
        color: #FFF;
        font-size: 72px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -1.44px;

        @media (max-width:1440px) {
            max-width: 544px;
            
        }

        @media (max-width:1152px) {
            max-width: 528px;
            font-size: 64px;
        }

        @media (max-width:768px) {
            max-width: 100%;
            font-size: 54px;
            text-align: center;
        }

        span {
            position: relative;

            svg {
                position: absolute;
                left: 0;
                bottom: -8px;
                max-width: 500px;

                @media (max-width:768px) {
                    width: 370px;
                }
            }
        }
    }

    &__text {
        width: 100%;
        max-width: 670px;
        margin-top: 0;
        margin-bottom: 50px;
        color: #FFF;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.36px;

        @media (max-width:1440px) {
            max-width: 552px;
        }

        @media (max-width:1152px) {
            max-width: 528px;
        }

        @media (max-width:768px) {
            max-width: 704px;
        }
    }

    &__button {
        padding: 20px 40px;
        border-radius: 6px;
        background: #4F9CF9;
        color: #FFF;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.36px;
        transition: all 0.3s;
        border: 1px solid #4F9CF9;
        cursor: pointer;

        &:hover {
            background-color: transparent;

            path {
                stroke: #4F9CF9;
            }
        }

        svg {
            margin-left: 10px;
        }
    }

    &__square {
        margin: 70px 0;
        width: 100%;
        max-width: 686px;
        height: 479px;
        background: #C4DEFD;

        @media (max-width:1152px) {
            max-width: 459px;
            height: 321px;
        }
        @media (max-width:768px) {
            margin-top: 0;
            width: 100%;
            height: 388px;
        }

        @media (max-width:320px) {
            width: 100%;
            height: 199px;
        }
    }
}