@use "variables" as *;

.footer {
    overflow: hidden;
    background: $main_color;
    padding: 140px 0;

    &__logo {
        width: 191px;
    }

    &__top {
        display: flex;
        padding-bottom: 100px;
        gap: 100px;
    }

    &__text {
        max-width: 240px;
        margin-top: 0;
        color: #F7F7EE;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.36px;
    }

    &__flex {
        display: flex;
        flex-direction: column;
    }

    &__menu {
        display: flex;
        gap: 100px;
    }

    &__nav {
        display: flex;
        flex-direction: column;
    }

    &__title {
        max-width:83px;
        margin: 0;
        color: #FFF;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.36px;
    }

    &__link {
        margin-top: 15px;
        text-decoration: none;
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.32px;

        &:hover {
            color: #ffe492;
        }
    }

    &__action {
        max-width: 259px;
        margin-left: auto;
    
    }

    &__titles {
        margin: 0;
        max-width: 155px;
        color: #FFF;
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: -0.56px;
    }

    &__subtext {
        max-width: 244px;
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.32px;
    }

    &__button {
        width: 186px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        gap: 10px;
        background: $button_color;
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.32px;
        cursor: pointer;
        transition: all 0.3s;
        border: 1px solid $button_color;

        &:hover {
            background: transparent;

            path {
                stroke: $button_color;
            }
        }

    }
}

.copy {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #2E5B8A;
    padding: 32px 0;

    &__list {
        display: flex;
        gap: 60px;
        list-style: none;
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.32px;
        margin: 0;
        padding: 0;
    }


    &__rem {
        display: flex;
        gap: 32px;
    }

    &__select {
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.32px;
        background: transparent;
        border: none;
    }

    &_logo {
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.32px;
        text-decoration: none;
    }
}