@use "variables" as *;

.footer {
    overflow: hidden;
    background: $main_color;
    padding: 140px 0;

    &__logo {
        width: 191px;
    }

    &__top {
        display: flex;
        padding-bottom: 100px;
        gap: 100px;

        @media (max-width: 1152px) {
            flex-wrap: wrap;
            gap: 46px;
        }

        @media (max-width: 768px) {
            flex-direction: column;
        }

        @media (max-width: 320px) {
            text-align: center;
            align-items: center;
        }
    }

    &__text {
        max-width: 240px;
        color: #F7F7EE;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.36px;

        @media (max-width: 768px) {
            max-width: 100%;
        }
    }

    &__menu {
        display: flex;
        gap: 100px;

        @media (max-width: 1152px) {
            gap: 36px;
        }

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
    }

    &__title {
        max-width: 83px;
        margin: 0;
        color: #FFF;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.36px;

        @media (max-width: 320px) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__link {
        margin-top: 15px;
        text-decoration: none;
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.32px;

        &:hover {
            color: #ffe492;
        }
    }

    &__action {
        max-width: 259px;
        margin-left: auto;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            margin: 0;
        }

        @media (max-width: 320px) {
          align-items: center;
        }
    }

    &__titles {
        margin: 0;
        max-width: 155px;
        color: #FFF;
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: -0.56px;
    }

    &__subtext {
        max-width: 244px;
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.32px;

        @media (max-width: 768px) {
            max-width: 174px;
        }
    }

    &__button {
        width: 186px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        gap: 10px;
        background: $button_color;
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.32px;
        cursor: pointer;
        transition: all 0.3s;
        border: 1px solid $button_color;

        &:hover {
            background: transparent;
            color: $button_color;

            path {
                stroke: $button_color;
            }
        }
    }
}

.copy {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #2E5B8A;
    flex-wrap: wrap;
    padding: 32px 0;

    @media (max-width: 320px) {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 60px;

        @media (max-width: 768px) {
            gap: 50px;
            align-items: center;
        }

        @media (max-width: 320px) {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }

    &__link {
        text-decoration: none;
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.32px;
    }

    &__rem {
        display: flex;
        gap: 40px;
        align-items: center;

          @media (max-width: 768px) {
           padding-top: 20px;
        }
    }

    &__select {
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.32px;
        background: transparent;
        border: none;
    }

    &__logo {
        color: #FFF;
        display: flex;
        gap: 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.32px;
        text-decoration: none;
    }
}