.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 92px;
    z-index: 1000;
    background: #043873;

    &__logo {
        display: flex;
        text-decoration: none;
        color: #FFF;
        font-size: 28px;
        font-weight: 700;
        line-height: normal;
    }

    &__container {
        display: flex;
        align-items: center;
        padding-top: 35px;
    }

    &__menu {
        display: flex;
        gap: 32px;
        margin-left: auto;
        padding-top: 16px;
        padding-bottom: 16px;
        @media (max-width:1150px) {
            display: none;
        }
    }

    &__burger {
        display: none;
        width: 42px;
        height: 36px;
        margin-left: 20px;
        background: transparent;
        border: none;

        @media (max-width: 1150px) {
            display: block;
        }

        @media (max-width: 768px) {
            margin-left: auto;
        }

        span {
            display: block;
            width: 100%;
            height: 3px;
            background: #fff;
            margin-bottom: 6px;
        }
    }

    &__link {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        border: none;
        background: transparent;

    }

    &__button {
        flex: 0 0 auto;
        margin-left: 19px;
        padding: 16px 40px;
        border-radius: 8px;
        color: #043873;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.36px;
        background: #FFE492;
        cursor: pointer;
        transition: all 0.3s;
        border: none;

        &:hover {
            background: #e2c879;
        }

        @media (max-width: 1350px) {
            margin-left: auto;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__login-btn {
        margin-left: 24px;
        padding: 15px 23px;
        border-radius: 8px;
        background: #4F9CF9;
        color: #FFF;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.36px;
        cursor: pointer;
        transition: all 0.3s;
        flex: 0 0 auto;
        border: 1px solid #4F9CF9;

        &:hover {
            background: transparent;
            color: #4F9CF9;

            svg {
                path {
                    stroke: #4F9CF9;
                }
            }
        }

        svg {
            margin-left: 15px;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }
}