.hero {
    overflow: hidden;
    background: #043873;
    background-image: url(../images/hero/Element.svg);
    background-size: cover;
    padding-top: 140px;

    &__elem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        @media (max-width:768px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 24px;
        }
    }

    &__rem {
        width: 656px;

        @media (max-width:1152px) {
            max-width: 565px;
            flex: 1;
        }

       
    }

    &__title {
        max-width: 652px;
        color: #FFF;
        font-size: 64px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -1.28px;
        margin-bottom: 24px;
        margin-top: 0;

        @media (max-width:768px) {
            font-size: 54px;
        }

    }

    &__text {
        max-width: 656px;
        color: #FFF;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.36px;

    @media (max-width:768px ) {
        max-width: 728px;
    }

    }

    &__square {
        margin: 120px 0;
        flex: 1;
        max-width: 824px;
        height: 545px;
        background: #C4DEFD;

        @media (max-width:1400px) {
            max-width: 685px;
            height: 456px;
        }

        @media (max-width:1152px) {
            max-width: 526px;
            height: 350px;
        }

        @media (max-width: 768px) {
            flex: 0 0 auto;
            width: 100%;
            height: 367px;
            margin-top: 100px;
            margin-bottom: 100px;
        }
    }

    &__button {
        margin-top: 60px;
        padding: 20px;
        border-radius: 8px;
        background: #4F9CF9;
        color: #FFF;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.36px;
        transition: all 0.3s;
        cursor: pointer;
        border: 1px solid #5480b6;

        &:hover {
            background-color: transparent;
            color: #4F9CF9;

            svg {
                path {
                    stroke: #4F9CF9;
                }
            }
        }

        svg {
            margin-left: 10px;
        }

    }
}