.needs {
    padding-top: 140px;
    overflow: hidden;

    &__man { 
        display: flex;
        align-items: center;
    }

    &__square {
        min-width: 714px;
        height: 532px;
        background: #C4DEFD;
    }
} 