.needs {
    padding: 140px 0;

    @media (max-width: 320px) {
        padding: 100px 0;
    }

    &__flex {
        display: flex;
        align-items: center;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 60px;
        }
    }

    &__image-wrap {
        width: 100%;
        max-width: 714px;
        height: 532px;
        background-color: #C4DEFD;

        @media (max-width: 1440px) {
            max-width: 670px;
            height: 499px;
        }

        @media (max-width: 1152px) {
            max-width: 534px;
            height: 398px;
        }

        @media (max-width: 320px) {
            height: 214px;
        }
    }

    &__content {
        width: 100%;
        max-width: 767px;
        padding-left: 98px;
        box-sizing: border-box;

        @media (max-width: 1440px) {
            max-width: 666px;
            padding-left: 60px;
        }

        @media (max-width: 1152px) {
            max-width: 554px;
        }

        @media (max-width: 768px) {
            max-width: 100%;
            padding-left: 0;
        }
    }

    &__title {
        position: relative;
        max-width: 490px;
        margin-top: 0;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 72px;
        line-height: 121%;
        letter-spacing: -2%;
        color: #212529;

        @media (max-width: 1152px) {
            font-size: 64px;
            line-height: 120%;
            letter-spacing: -2%;
        }

        @media (max-width: 768px) {
            max-width: 100%;
            font-size: 54px;
            text-align: center;
        }

        @media (max-width: 320px) {
            font-size: 40px;
            line-height: 52px;
        }

        &-hr {
            width: 400px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;

            @media (max-width: 1152px) {
                width: 350px;
                bottom: -2px;
            }

            @media (max-width: 768px) {
                width: 236px;
                left: auto;
                right: -20px;
                bottom: 14px;
            }

            @media (max-width: 320px) {
                width: 100px;
                height: 18px;
                right: 30px;
                bottom: 0;
            }
        }
    }

    &__text {
        margin-top: 0;
        margin-bottom: 60px;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -2%;
        color: #212529;

        @media (max-width: 768px) {
            text-align: center;
        }

        @media (max-width: 320px) {
            max-width: 250px;
            margin: 0 auto 60px;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 161px;
        height: 63px;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: -2%;
        border: 1px solid #4F9CF9;
        border-radius: 8px;
        background-color: #4F9CF9;
        color: #fff;
        cursor: pointer;
        transition: all .3s;

        @media (max-width: 768px) {
            margin: 0 auto;
        }

        @media (max-width: 320px) {
            width: 168px;
            height: 60px;
            font-size: 16px;
        }

        &:hover {
            color: #4F9CF9;
            background-color: transparent;

            path {
                stroke: #4F9CF9;
            }
        }

        &:active {
            transform: scale(0.9);
        }
    }
}