.project {
    overflow: hidden;
    padding-top: 140px;

    &__top {
        position: relative;
        display: flex;
        align-items: center;
        gap: 60px;

        @media (max-width:768px) {
            flex-direction: column;
        }
    }

    &__content {
        max-width: 672px;

        @media (max-width: 1400px) {
            max-width: 617px;
        }

        @media (max-width: 1152px) {
            max-width: 528px;
        }

        @media (max-width: 768px) {
            max-width: 728px;
        }
    }

    &__title {
        max-width: 672px;
        color: #212529;
        font-size: 72px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -1.44px;
        margin-bottom: 24px;
        margin-top: 0;

        @media (max-width:768px) {
            max-width: 728px;
            font-size: 54px;
        
            letter-spacing: -1.08px;
        }

        span {
            position: relative;

            svg {
                position: absolute;
                left: 0;
                bottom: -18px;

                @media (max-width:1152px) {
                    left: 184px;
                    width: 100%;
                }
            }
        }
    }

    &__text {
        max-width: 672px;
        margin-top: 24px;
        margin-bottom: 0;
        color: #212529;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.36px;

        @media (max-width:1152px) {
            max-width: 436px;
        }

        @media (max-width:768px) {
            max-width: 728px;
        }
    }

    &__square {
        padding-top: 140px;
        flex: 1 1 748px;
        max-width: 748px;
        height: 547px;
        background: #C4DEFD;

        @media (max-width:1400px) {
            max-width: 719px;
            height: 448px;
        }

        @media (max-width:1150px) {
            max-width: 560px;
            height: 384px;
        }

        @media (max-width:768px) {
            width: 100%;
            height: 349px;
        }
    }

    &__button {
        margin-top: 60px;
        padding: 20px 40px;
        border-radius: 6px;
        background: #4F9CF9;
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.36px;
        transition: all 0.3s;
        border: 1px solid #4F9CF9;
        cursor: pointer;

        &:hover {
            background: transparent;
            color: #4F9CF9;

            path {
                stroke: #4F9CF9;
            }
        }

        &__btr {
            margin-left: 10px;
        }
    }

    &__bt {
        position: absolute;
        top: 150px;
        left: -140px;
        pointer-events: none;
    }

    &__work {
        padding-top: 100px;
    }

    &__work-img {
        flex: 0 1 50%;
        max-width: 710px;
        width: 100px;
        margin-bottom: 140px;

        @media (max-width:1400px) {
            max-width: 583px;
        }

        @media (max-width:1150px) {
            max-width: 528px;
        }
    
        @media (max-width:750px) {
            max-width: 458px;
        }
    }

    &__link {
        padding-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;

        @media (max-width:1400px) {
            gap: 160px;
        }

        @media (max-width:768px) {
           flex-direction: column-reverse;
        }
    }

    &__work-content {
        max-width: 670px;
    }

    &__work-title {
        max-width: 670px;
        color: #212529;
        font-size: 72px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -1.44px;
        margin-bottom: 24px;

        span {
            position: relative;

            svg {
                position: absolute;
                left: 0;
                bottom: -8px;
            }
        }
    }

    &__work-text {
        width: 670px;
        color: #212529;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.36px;
        margin-bottom: 60px;

        @media (max-width:1400px) {
            width: 593px;
        }

        @media (max-width:1150px) {
            width: 527px;
        }
    }

    &__work-button {
        margin-bottom: 183px;
        padding: 20px 40px;
        border-radius: 8px;
        background: #4F9CF9;
        color: #FFF;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.36px;
        transition: all 0.3s;
        border: 1px solid #4F9CF9;
        cursor: pointer;

        &:hover {
            background-color: transparent;
            color: #4F9CF9;

            path {
                stroke: #4F9CF9;
            }
        }

        svg {
            margin-left: 10px;
        }
    }
}