.project {
    overflow: hidden;
    padding-top: 140px;

    &__top {
        position: relative;
        display: flex;
        align-items: center;
        gap: 60px;
    }

    &__content {
        max-width: 672px;

        @media (max-width:1400px) {
            max-width: 617px;

        }
    }

    &__title {
        max-width: 672px;
        color: #212529;
        font-size: 72px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -1.44px;
        margin-bottom: 24px;

        span {
            position: relative;

            svg {
                position: absolute;
                left: 0;
                bottom: -18px;

                @media (max-width:1152px) {
                    left: 184px;
                    width: 100%;
                }
            }
        }
    }

    &__text {
        max-width: 672px;
        margin-top: 24px;
        color: #212529;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.36px;
    }

    &__square {
        padding-top: 140px;
        flex: 1 1 748px;
        max-width: 748px;
        height: 547px;
        background: #C4DEFD;

        @media (max-width:1400px) {
            max-width: 719px;
            height: 448px;
        }

    }

    &__button {
        margin-top: 60px;
        padding: 20px 40px;
        border-radius: 6px;
        background: #4F9CF9;
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.36px;
        transition: all 0.3s;
        border: 1px solid #4F9CF9;
        cursor: pointer;

        &:hover {
            background: transparent;
            color: #4F9CF9;

            path {
                stroke: #4F9CF9;
            }
        }

        &__btr {
            margin-left: 10px;
        }
    }

    &__bt {
        position: absolute;
        top: 125px;
        left: 0;
        pointer-events: none;

    }

    &__work {
        padding-top: 100px;
    }

    &__work-img {
        max-width: 710px;
        margin-bottom: 140px;
    }

    &__link {
        padding-top: 100px;
        display: flex;
        gap: 100px;
    }


    &__work-content {
        max-width: 670px;
    }

    &__work-title {
        max-width: 670px;
        color: #212529;
        font-size: 72px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -1.44px;
        margin-bottom: 24px;

        span {
            position: relative;

            svg {
                position: absolute;
                left: 0;
                bottom: -8px;
            }
        }

    }

    &__work-text {
        max-width: 670px;
        color: #212529;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.36px;
        margin-bottom: 60px;

    }

    &__work-button {
        margin-bottom: 183px;
        padding: 20px 40px;
        border-radius: 8px;
        background: #4F9CF9;
        color: #FFF;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.36px;
        transition: all 0.3s;
        border: 1px solid #4F9CF9;
        cursor: pointer;

        &:hover {
            background-color: transparent;
            color: #4F9CF9;

            path {
                stroke: #4F9CF9;
            }
        }

        svg {
            margin-left: 10px;
        }

    }

}