.together {
    overflow: hidden;

    &__work {
        padding-top: 100px;
    }

    &__work-img {
        width: 50%;
        margin-bottom: 0;

         @media (max-width:768px) {
            width: 100%;
        }
    }

    &__link {
        padding-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:768px) {
            flex-direction: column-reverse;
        }
    }

    &__work-content {
        padding-left: 100px;
        width: 50%;

        @media (max-width:1400px) {
            padding-left: 50px;
        }

        @media (max-width:768px) {
            width: 100%;
             padding-left: 0;
            text-align: center;
        }
    }

    &__work-title {
        margin-top: 0;
        color: #212529;
        font-size: 72px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -1.44px;
        margin-bottom: 24px;

        @media (max-width:768px) {
            max-width: 728px;
            font-size: 54px;
            white-space: nowrap;
            letter-spacing: -1.08px;
        }

           @media (max-width:320px) {
            max-width: 228px;
            font-size: 36px;
        }

        span {
            position: relative;

            svg {
                position: absolute;
                left: 0;
                bottom: -8px;
            }
        }
    }

    &__work-text {
        margin-top: 0;
        color: #212529;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.36px;
        margin-bottom: 60px;

        @media (max-width:1400px) {
            width: 100%;
            max-width: 593px;
        }
        
        @media (max-width:768px) {
            max-width: 728px;
        }
        
    }

    &__work-button {
        margin-bottom: 183px;
        padding: 20px 40px;
        border-radius: 8px;
        background: #4F9CF9;
        color: #FFF;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.36px;
        transition: all 0.3s;
        border: 1px solid #4F9CF9;
        cursor: pointer;

        &:hover {
            background-color: transparent;
            color: #4F9CF9;

            path {
                stroke: #4F9CF9;
            }
        }

        svg {
            margin-left: 10px;
        }
    }
}