.together {
    overflow: hidden;
    padding-top: 100px;

    &__work-img {
        width: 50%;
        margin-bottom: 100px;

        @media (max-width:320px) {
            width: 100%
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:768px) {
            flex-direction: column-reverse;
        }
    }

    &__work-content {
        padding-left: 100px;
        width: 50%;

        @media (max-width:1440px) {
            padding-left: 60px;
        }

        @media (max-width:768px) {
            width: 100%;
            text-align: center;
            padding-right: 0;
            padding-left: 0;
        }

    }

    &__work-title {
        margin-top: 0;
        color: #212529;
        font-size: 72px;
        font-weight: 700;
        letter-spacing: -1.44px;
        margin-bottom: 24px;

        @media (max-width:768px) {
            max-width: 100%;
            text-align: center;
            font-size: min(54px, 11vw);
            letter-spacing: -1.08px;
        }

       @media (max-width: 320px) {
        font-size: 36px;
    }
        span {
            position: relative;

            svg {
                position: absolute;
                left: 0;
                bottom: -8px;

                @media (max-width:768px) {
                    width: 100%;
                }

                @media (max-width:320px) {
                    width: 100%;
                }
            }
        }
    }

    &__work-text {
        max-width: 633px;
        margin-top: 0;
        color: #212529;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.36px;
        margin-bottom: 60px;

        @media (max-width: 1440px) {
            max-width: 593px;
        }

        @media (max-width: 1152px) {
            max-width: 527px;
        }

        @media (max-width:768px) {
            max-width: 728px;
        }


    }

    &__work-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 186px;
        gap: 10px;
        height: 63px;
        border-radius: 8px;
        background: #4F9CF9;
        color: #FFF;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.36px;
        transition: all 0.3s;
        border: 1px solid #4F9CF9;
        cursor: pointer;

         @media (max-width: 768px) {
            margin: 50px   auto;
        }

        &:hover {
            background-color: transparent;
            color: #4F9CF9;

            path {
                stroke: #4F9CF9;
            }
        }

    }
}