.using {
    overflow: hidden;
     background: #043873;
     background-image: url(../images/apps/Element.svg);
      padding-top: 140px;

      &__container {
         display: flex;
      }

     &__img {
        max-width: 582px;
     }
}