 .data {
     overflow: hidden;
     padding: 140px 0;

     &__flex {
         display: flex;
         align-items: center;
     }

     &__content {
         max-width: 800px;
         padding-right: 17px;
         box-sizing: border-box;

         @media (max-width:1440px) {
             max-width: 655px;
         }

              @media (max-width:1152px) {
                max-width: 526px;
         }

     }

     &__title {
         margin-top: 0;
         color: #212529;
         font-size: 72px;
         font-weight: 700;
         line-height: normal;
         letter-spacing: -1.44px;

            @media (max-width:1152px) {
                font-size: 64px;
         }

         span {
             position: relative;
             z-index: 1;

             svg {
                 position: absolute;
                 z-index: -1;
                 left: 0;
                 bottom: -18px;
             }
         }

     }

     &__text {
         color: #212529;
         font-size: 18px;
         font-weight: 400;
         line-height: 30px;
         letter-spacing: -0.36px;
         margin-top: 0;
     }

     &__img {
         max-width: 681px;

          @media (max-width:1152px) {
             max-width: 562px;
         }


     }

     &__button {
         padding: 20px 40px;
         border-radius: 8px;
         background: #4F9CF9;
         color: #FFF;
         font-size: 18px;
         font-weight: 500;
         line-height: 23px;
         cursor: pointer;
         transition: all 0.3s;
         border: 1px solid #4F9CF9;
         margin-top: 60px;

         svg {
             margin-left: 10px;
         }

         &:hover {
             background: transparent;
             color: #4F9CF9;

             path {
                 stroke: #4F9CF9;
             }
         }

     }
 }