 .data {
     overflow: hidden;
     padding-top: 168px;

     &__container {
         display: flex;
         justify-content: space-between;    
     }

     &__content {
         min-width: 780px; 
           
     }

     &__title {
         color: #212529;
         font-size: 72px;
         font-weight: 700;
         line-height: normal;
         letter-spacing: -1.44px;

         span {
             position: relative;

             svg {
                 position: absolute;
                 left: 0;
                 bottom: -18px;
             }
         }

     }

     &__text {
        width: 800px;
         color: #212529;
         font-size: 18px;
         font-weight: 400;
         line-height: 30px;
         letter-spacing: -0.36px;
         margin-top: 24px;

     }

     &__img {
         max-width: 681px;
     }

     &__button {
         padding: 20px 40px;
         border-radius: 8px;
         background: #4F9CF9;
         color: #FFF;
         font-size: 18px;
         font-weight: 500;
         line-height: 23px;
         cursor: pointer;
         transition: all 0.3s;
         border: 1px solid #4F9CF9;
         margin-top: 60px;

         svg {
             margin-left: 10px;
         }

         &:hover {
             background: transparent;
             color: #4F9CF9;

             path {
                 stroke: #4F9CF9;
             }
         }

     }
 }